app/google-services.json
REPORT.md
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
**/bin/
.externalNativeBuild
.cxx
local.properties
.idea/
.kotlin
/ui-theme/build/
/.cursor/
/use-cases/build/
/feature/settings/build
/feature/feed/build
/feature/books/build
/feature/welcome/build
/feature/saved/build
/feature/feeddetails/build
/feature/search/build
/ui-common/build
GEMINI.md
CLAUDE.md